{% load static %}
{% csrf_token %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/skeleton.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="shortcut icon" type="image/svg" href="{% static 'images/f1.svg' %}"/>
    <title>F1</title>
</head>
<body>
    <header class="header">
        <h1 class="main-title">Formula 1</h1>
        <h1 class="sub-title">{{title}}</h1>
        <nav class="nav-container">
            <a class="nav-item" href="/races">Races</a>
            <a class="nav-item" href="/constructors">Constructors</a>
            <a class="nav-item" href="/drivers">Drivers</a>
        </nav>
    </header>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>